h1 {
    font-family: 'Open Sans', sans-serif;
    border: 5px solid white;
    text-align: center;
    color: black;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Lora', serif;
} 

li {
    font-family: 'Lora', serif;
    color: black;
}

body {
    background-color: gray;
    color: white;
}
